<h3 class="ui header">{{t "forms.i-i-s-k-a-n-e-c-спрос-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.номер
      class=(if (v-get validationModel "номер" "isInvalid") "error")
      label=(t "forms.i-i-s-k-a-n-e-c-спрос-e.номер-caption")
      data-test-i-i-s-k-a-n-e-c-спрос-e-номер=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "номер" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.цена
      class=(if (v-get validationModel "цена" "isInvalid") "error")
      label=(t "forms.i-i-s-k-a-n-e-c-спрос-e.цена-caption")
      data-test-i-i-s-k-a-n-e-c-спрос-e-цена=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "цена" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.категорНомера
      class=(if (v-get validationModel "категорНомера" "isInvalid") "error")
      label=(t "forms.i-i-s-k-a-n-e-c-спрос-e.категорНомера-caption")
      data-test-i-i-s-k-a-n-e-c-спрос-e-категорНомера=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "категорНомера" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.занятВМесяц
      class=(if (v-get validationModel "занятВМесяц" "isInvalid") "error")
      label=(t "forms.i-i-s-k-a-n-e-c-спрос-e.занятВМесяц-caption")
      data-test-i-i-s-k-a-n-e-c-спрос-e-занятВМесяц=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "занятВМесяц" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-k-a-n-e-c-спрос-e.юридич-caption"}}</label>
    {{flexberry-checkbox
      readonly=readonly
      value=model.юридич
      class=(if (v-get validationModel "юридич" "isInvalid") "error")
      data-test-i-i-s-k-a-n-e-c-спрос-e-юридич=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "юридич" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-k-a-n-e-c-спрос-e.броньЧерСайт-caption"}}</label>
    {{flexberry-checkbox
      readonly=readonly
      value=model.броньЧерСайт
      class=(if (v-get validationModel "броньЧерСайт" "isInvalid") "error")
      data-test-i-i-s-k-a-n-e-c-спрос-e-броньЧерСайт=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "броньЧерСайт" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-k-a-n-e-c-спрос-e.скПриДлитПрожив-caption"}}</label>
    {{flexberry-checkbox
      readonly=readonly
      value=model.скПриДлитПрожив
      class=(if (v-get validationModel "скПриДлитПрожив" "isInvalid") "error")
      data-test-i-i-s-k-a-n-e-c-спрос-e-скПриДлитПрожив=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "скПриДлитПрожив" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-k-a-n-e-c-спрос-e.скДР-caption"}}</label>
    {{flexberry-checkbox
      readonly=readonly
      value=model.скДР
      class=(if (v-get validationModel "скДР" "isInvalid") "error")
      data-test-i-i-s-k-a-n-e-c-спрос-e-скДР=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "скДР" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-k-a-n-e-c-спрос-e.скВторНомер-caption"}}</label>
    {{flexberry-checkbox
      readonly=readonly
      value=model.скВторНомер
      class=(if (v-get validationModel "скВторНомер" "isInvalid") "error")
      data-test-i-i-s-k-a-n-e-c-спрос-e-скВторНомер=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "скВторНомер" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.суммСоСкид
      class=(if (v-get validationModel "суммСоСкид" "isInvalid") "error")
      label=(t "forms.i-i-s-k-a-n-e-c-спрос-e.суммСоСкид-caption")
      data-test-i-i-s-k-a-n-e-c-спрос-e-суммСоСкид=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "суммСоСкид" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-k-a-n-e-c-спрос-e.маркетолог-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.маркетолог
      relationName="маркетолог"
      projection="МаркетологL"
      title=(t "forms.i-i-s-k-a-n-e-c-спрос-e.маркетолог-caption")
      readonly=readonly
      componentName="маркетологLookup"
      class=(if (v-get validationModel "маркетолог" "isInvalid") "error")
      data-test-i-i-s-k-a-n-e-c-спрос-e-маркетолог=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "маркетолог" "message")}}
  </div>
</form>
